<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ygh.mobileprogramming">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProgramming">
        <activity
            android:name=".GetActivity"
            android:exported="true" />
        <activity
            android:name=".PutActivity"
            android:exported="true" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".SaveStateActivity"
            android:exported="true" />
        <activity
            android:name=".ImplicitComponentActivity"
            android:exported="true">
            <intent-filter android:label="KwMop">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImplicitActivity"
            android:exported="true" />
        <activity
            android:name=".IntentActivity"
            android:exported="true" />
        <activity
            android:name=".TouchEventActivity"
            android:exported="true" />
        <activity
            android:name=".ManyViewActivity"
            android:exported="true" />
        <activity
            android:name=".TableLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".RelativeLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>